<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
        <body class="w3-light-gray">
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="w3-main page-wrap">
                <div class="w3-row w3-black">
                    <div class="top">
                        <div class="w3-row w3-black">
                            <div class="w3-container w3-twothird w3-black">
                                <h1>Lorem Title</h1>
                            </div>
                            <div class="w3-container w3-third w3-black adminButtonAdd">
                                {% if user.is_authenticated %}
                                    <a class="w3-btn w3-circle w3-light-gray w3-hover-black w3-right" href="{% url 'blog:post_new' %}" ><span class="glyphicon glyphicon-plus"></span></a>
                                {% endif %} 
                            </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-bar w3-red">
                                <a href="/" class="w3-bar-item w3-button w3-hover-black">Home</a>
                                <a href="#" class="w3-bar-item w3-button w3-hover-black">Worst Posts <span class="glyphicon glyphicon-trash"></span></a>
                                <a href="#" class="w3-bar-item w3-button w3-hover-black">Most Loved <span class="glyphicon glyphicon-heart"></span></a>
                                <a href="#" class="w3-bar-item w3-button w3-hover-black">I was Drunk <span class="glyphicon glyphicon-glass"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-row w3-light-gray main">
                    <div class="w3-conteiner w3-twothird commentListContainer">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="w3-conteiner w3-third commentListContainer">
                        {% include 'aside.html' %}
                    </div>
                </div>
            </div>
        </body>
    {% include 'footer.html' %}
</html>