<!DOCTYPE html>
/**/
<html lang="en">
    {% include 'header.html' %}
        <body>
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-7299849283970792",
                enable_page_level_ads: true
              });
            </script>
            <div class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-animate-left w3-red" style="width:200px;" id="mySidebar">
                {% include 'sidebar.html' %}
            </div>
            
            <div class="w3-main" style="margin-left:200px">
                <div class="w3-row w3-black">
                    <div class="w3-container w3-third w3-black">
                        <button class="w3-button w3-teal w3-xlarge w3-hide-large w3-black w3-hover-red" onclick="w3_open()">&#9776;</button>
                    </div>
                    <div class="w3-container w3-third w3-black">
                        <h1>Random</h1>
                    </div>
                    <div class="w3-container w3-third w3-black adminButtonAdd">
                        {% if user.is_authenticated %}
                            <a class="w3-btn w3-circle w3-light-gray w3-hover-black w3-right" href="{% url 'blog.views.post_new' %}" ><span class="glyphicon glyphicon-plus"></span></a>
                        {% endif %} 
                    </div>
                </div>
                <div class="w3-row w3-light-gray">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </body>
    {% include 'footer.html' %}
</html>