{% extends 'base.html' %}

{% block content %}
    <div class="w3-conteiner detailcontainer">
        <h4><small class="recentposts">
            {% if post.published_date %}
                {{ post.published_date }}
            {% endif %}
        </small></h4> 
        
        <div class= "w3-white w3-conteiner">
            <div class="w3-row w3-black">
                <div class="w3-container w3-twothird w3-black">
                    <h2 >{{ post.title }}</h2>
                </div>
                <div class="w3-container w3-third w3-black">
                    <div class="date w3-right adminButtonEdit">
                        {% if user.is_authenticated %}
                            <a class="w3-btn w3-circle w3-light-gray w3-hover-black w3-right w3-hover-black" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>    
            <div class="postcontainer">
                <article>{{ post.text|linebreaksbr }}</article>
            </div>
        </div>        
    </div>
    <div class="w3-light-gray">
        <br><br>
    </div>
    <div class="w3-row">
        <div class="w3-container labelComment">
            <div class="w3-container w3-third w3-light-gray labelComment">
                <div class="fb-comments" data-href="http://demo-project-miopeciclope-2.c9.io/post/{{ post.pk }}" data-width="100%" data-numposts="5"></div>
            </div>
            <div class="w3-container w3-twothird labelComment">
                <div class="w3-container w3-black labelComment">
                    <div class="w3-black labelComment">
                        <h4 id="paddingcomments">Leave a Comment</h4>
                    </div>
                    <div class="w3-container  w3-red labelComment">
                        <form role="form">
                            <textarea id="commentInput" class="w3-input w3-leftbar w3-border-black " rows="3" required></textarea>
                        </form>
                        <button type="submit" class="w3-button w3-black w3-hover-red w3-right ">Submit</button>
                    </div>
                </div>
                <div class"w3-teal">
                   <br><br>
                </div>
                <div class="w3-container w3-black labelComment">
                    <h4 id="paddingcomments" class= "w3-left">Comments:</h4>
                    <div class="w3-container labelComment">
                            <div id="paddingcomment" class= "w3-black w3-conteiner">
                                <div class="w3-row w3-red labelComment">
                                    <div class="w3-container w3-twothird w3-red">
                                        <h5 >Tyrion Lanister</h5>
                                    </div>
                                    <div class="w3-container w3-third w3-red">
                                        Data
                                    </div>
                                </div>    
                                <div class="w3-white postcontainer">
                                    <article>TYWIN: Tyrion. Do you wish to confess?
                                            Tyrion turns to face Tywin.TYRION: Yes, father. I'm guilty. Guilty. Is that what you want to hear?
                                            TYWIN: You admit you poisoned the King?
                                            TYRION: No, of that I'm innocent. I am guilty of a far more monstrous crime. I am guilty of being a dwarf.TYWIN: You are not on trial for being a dwarf.
                                            TYRION: Oh, yes I am. I've been on trial for that my entire life.
                                    </article>
                                </div>
                            </div>   
                            <div class="w3-light-gray">
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}