{% extends 'base.html' %}

{% block content %}
    <div class="w3-conteiner detailcontainer">
        <h4><small class="recentposts">
            {% if post.published_date %}
                {{ post.published_date }}
            {% endif %}
        </small></h4> 
        
        <div class= "w3-white w3-conteiner">
            <div class="w3-row w3-black">
                <div class="w3-container w3-twothird w3-black">
                    <h2 >{{ post.title }}</h2>
                </div>
                <div class="w3-container w3-third w3-black">
                    <div class="date w3-right adminButtonEdit">
                        {% if user.is_authenticated %}
                            <a class="w3-btn w3-circle w3-light-gray w3-hover-black w3-right w3-hover-black" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>    
            <div class="postcontainer">
                <article>{{ post.text|linebreaksbr }}</article>
            </div>
        </div>        
    </div>
    <div class="w3-light-gray">
        <br><br>
    </div>
    <div class="w3-row">
        <div class="w3-container labelComment">
            <div class="w3-container w3-third w3-red labelComment">
                <h4 class= "w3-center" >Leave a Comment</h4>
                <div class="w3-container w3-black labelComment">
                    <form role="form">
                        <textarea id="commentInput" class="w3-input" rows="3" required></textarea>
                    </form>
                    <button type="submit" class="w3-button w3-red w3-hover-black w3-left ">Submit</button>
                </div>
            </div>
            <div class="w3-container w3-twothird w3-black w3-leftbar w3-border-black labelComment">
                <h4 class= "w3-center">Comments:</h4>
                <div class="w3-container labelComment">
                        <div class= "w3-white w3-conteiner">
                            <div class="w3-row w3-red labelComment">
                                <div class="w3-container w3-twothird w3-red">
                                    <h5 >Tyrion Lanister</h5>
                                </div>
                                <div class="w3-container w3-third w3-red">
                                    Data
                                </div>
                            </div>    
                            <div class="postcontainer">
                                <article>TYWIN: Tyrion. Do you wish to confess?
                                        Tyrion turns to face Tywin.TYRION: Yes, father. I'm guilty. Guilty. Is that what you want to hear?
                                        TYWIN: You admit you poisoned the King?
                                        TYRION: No, of that I'm innocent. I am guilty of a far more monstrous crime. I am guilty of being a dwarf.TYWIN: You are not on trial for being a dwarf.
                                        TYRION: Oh, yes I am. I've been on trial for that my entire life.
                                        TYWIN: Have you nothing to say in your defense?TYRION: Nothing but this: I did not do it.
                                        He turns from his father to Cersei.
                                        TYRION: I did not kill Joffrey but I wish that I had. Watching your vicious bastard die gave me more relief than a thousandlying whores.
                                        Cersei has never hated Tyrion more than in this moment.Tyrion turns from her and looks out at the crowd of nobles.
                                        TYRION: I wish I was the monster you think I am. I wish I had enough poison for the whole pack of you. I would gladly give mylife to watch you all swallow it.
                                        Uproar from the crowd Killer! Kingslayer! Monster!
                                        TYWIN (shouting over the crowd, to Meryn Trant): Ser Meryn, escort the prisoner back to his cell--TYRION: I will not give my life for Joffrey's murder. And I know I'll get no justice here, so I will let the gods decide my fate. (beat)
                                        I demand a trial by combat!The roar of the crowd is deafening.
                                        Jaime shuts his eyes. Any hope of saving Tyrion is gone.
                                        Cersei smiles, triumphant at having pushed him too far.Oberyn Martell leans forward, intrigued.
                                        As for Tywin: he stares straight ahead, in dark hatred, at his youngest son.
                                        And Tyrion Lannister, defiant, stares right back.
                                </article>
                            </div>
                            <div class="w3-container w3-black">
                                <br>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}