{% extends 'base.html' %}

{% block content %}
    <div class="w3-conteiner postscontainer">
        <h4><small class="recentposts">RECENT POSTS</small></h4> 
        {% for post in object_list %}
            <div class= "w3-white w3-conteiner">
                <div class="w3-row w3-black">
                    <div class="w3-container w3-twothird w3-black">
                        <h3>{{ post.title }}</h3>
                    </div>
                    <div class="w3-container w3-third w3-black date">
                        <h6><span class="glyphicon glyphicon-time"></span> {{ post.published_date|date:'N j, Y' }}</h6>
                    </div>
                </div>
                <div class="w3-container postcontainer">
                    <div class="w3-container w3-half">
                        <div class="thumbnail">
                            <a href="{% url 'blog:post_detail' pk=post.pk %}"><img src="{{ post.image.url }}" class="w3-image"/></a>
    						<div class="caption text-center">
    							"qwer"
    						</div>
                        </div>
                    </div>
                    <div class="w3-container w3-half">
                        <!--<article>{{ post.summary|linebreaksbr }}</article>-->
                        {% lorem %}
                        <br><br>
                        <p class="readMore"><a class="w3-button w3-red w3-hover-black" href="{% url 'blog:post_detail' pk=post.pk %}">read post</a></p>
                    </div>
                </div>
            </div>
            <div>
                <br><br>
            </div>
        {% endfor %}
        
        {% include 'pagination.html' %}
    </div>
{% endblock content %}