{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron posts" id="posts">
        <h4><small>RECENT POSTS</small></h4>
        {% for post in posts %}
            <hr>
            <h3><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <h5><span class="glyphicon glyphicon-time"></span> {{ post.published_date }}</h5>
            <!--<h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>-->
            <p>{{ post.text|linebreaksbr }}</p>
            <br><br>
        {% endfor %}
    </div>
{% endblock content %}