.readMore{
    text-align: right !important;
    font-size: small !important;
    font-family: Arial !important;
    
}

.recentposts{
    color: black !important;
}

.postscontainer{
    padding-left: 20px !important;
}

.date{
    padding-top: 7px !important;
}

.postcontainer{
    padding: 20px !important;
}

.commentcontainer{
    padding: 0px 0px 0px 0px !important;
}

.detailcontainer{
    padding: 20px 0px 0px 20px !important;
}

.labelComment{
    padding: 0px 0px 0px 0px !important;
}

.commentListContainer{
    padding: 0px 0px 0px 20px !important;
}

.adminButtonEdit{
    padding: 10px 10px 10px 10px !important;
}

.adminButtonAdd{
    padding: 10px 26px 10px 10px !important;
}

textarea {
    resize: none;
}

#commentInput {
    resize: vertical;
}

#paddingcomment{
    padding: 0px 0px 0px 20px !important;
}

.footer{
    padding: 5px 0px 0px 0px !important;
    text-align: center;
}

#paddingcomments{
    padding-left: 20px !important;
}

.linkNoStuf{
    text-decoration: none !important;
}

.center {
    display:block;
    margin:auto;
    max-width: 500px;
    max-height: 300px;
}

.thumbCcenter {
    display:block;
    margin:auto;
    max-width: 550px;
    max-height: 350px;
}

.product-social-links
{ 
    line-height: 10px !important; 
    float: right;
}

.main {
    padding: 0px 5%;
    margin-top: 110px;
}
 
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -25px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 25px; 
}

.top {
    z-index: 1 !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}