.posts{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: black;
}

.row.content {height: 1500px}

.h1-{
    text-align: center !important;
}

.readMore{
    text-align: right !important;
    font-size: small !important;
    font-family: Arial !important;
    
}

.footer {
    padding: 15px;
}

#posts{
    padding: 20px 30px;
    background-color: #f1f1f1;
}

#jumbo {
    padding: 25px;
    border-radius: 15px;
}

#postText{
    font-size: 16px;
    font-family:  sans-serif;
    color: #211313;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;} 
}

a {
    color: #800000 !important;
}

/*a:visited {*/
/*    color: green;*/
/*}*/