.readMore{
    text-align: right !important;
    font-size: small !important;
    font-family: Arial !important;
    
}

.recentposts{
    color: black !important;
}

.postscontainer{
    padding-left: 20px !important;
}

.date{
    padding-top: 7px !important;
}

.postcontainer{
    padding: 20px !important;
}

.commentcontainer{
    padding: 0px 0px 0px 0px !important;
}

.detailcontainer{
    padding: 20px 0px 0px 20px !important;
}

.labelComment{
    padding: 0px 0px 0px 0px !important;
}